body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;
}

a{
    color: hsl(214, 82%, 42%);
    text-decoration: none;
}

a:hover{
    color: hsl(214, 82%, 51%);
    text-decoration: underline;
}

a:visited{
    color: hsl(214, 82%, 42%);
}